/* Font families */
.playfair {
  font-family: "Playfair Display", serif;
}

.playfair-bold {
  font-family: "Playfair Display", serif;
  font-weight: 900;
}

.zilla-slab-regular {
  font-family: "Zilla Slab", serif;
  font-weight: 400;
}

/* General styling for elements */
body {
  padding: 5vh 5vw;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 2vw;
  padding-left: 20px;
}

#contacts {
  border: 1px solid gray;
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  padding: 0;
}

.contact-info {
  display: block;
  width: 100%;
  margin-bottom: 10px;
}

#contacts a div h2,
#contacts a div p {
  margin: 0;
}

#contacts a div p {
  font-size: 14px;
  line-height: 1.5;
}

#contacts a div:hover {
  background-color: #ddd;
}

/* Placeholder text for when no contacts are displayed */
#placeholder-text {
  color: #555;
  text-align: center;
}

.search-container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  max-width: 600px;
  padding: 10px 0;
  padding-left: 20px;
}

.search-box input[type="text"] {
  width: 100%;
  padding: 10px;
  font-size: 1.5rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

input[type="text"] {
  padding: 10px;
  font-size: 16px;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #444;
  color: white;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #999;
}

#contact-list {
  width: 100%;
  max-width: 500px;
  margin: 20px 0;
}

.contact-details {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
  background-color: #f5f5f5;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.contact-field {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
}

.contact-label {
  font-weight: bold;
  margin-right: 10px;
}

.contact-actions {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.contact-actions a {
  color: blue;
  text-decoration: none;
}

.contact-actions a:hover {
  text-decoration: underline;
}

/* Styling for the logout button */
.logoutBtn {
  position: absolute;
  top: 20px;
  right: 20px;
  background-color: black;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
}
